@import "tailwindcss";
@plugin "daisyui";

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    animation: marquee 60s linear infinite;
}

.animate-marquee2 {
    animation: marquee 60s linear infinite;
}

/* Pause animation on hover */
.w-full:hover .animate-marquee,
.w-full:hover .animate-marquee2 {
    animation-play-state: paused;
}